@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: hsl(215, 51%, 70%);
}

hr {
  width: 100%;
  border: 1px solid hsl(216, 17%, 31%);
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 40%;
  padding: 1.25rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 160px;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.main-section h3 {
  margin: 1rem 0;
}

.main-section p {
  margin: 0;
}

.main-section img {
  border-radius: 0.5rem;
}

.price-and-time {
  display: flex;
  justify-content: space-between;
}

.price {
  color: hsl(178, 100%, 50%);
}

.author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.author img {
  width: 2rem;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
}

.author b {
  font-weight: 600;
  color: white;
}
